<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<title>Contrato</title>
</head>

<body>
	<h1>Contrato de Prestação de Serviços</h1>
	<p>Este contrato é firmado entre <strong>{{ nome }}</strong>, portador do CPF <strong>{{ cpf }}</strong> e do RG
		<strong>{{ rg }}</strong>, e a empresa contratada.</p>
	<p>O item locado é: <strong>{{ item }}</strong></p>
	<p>Valor acordado: <strong>R$ {{ valor_contrato }}</strong>
	<p>Assinatura do contratante: ______________________</p>
</body>

</html>
