<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Casa dos Ternos - Formulário Contrato</title>
</head>

<body>
	<h2>Preencha os dados do contrato</h2>
	<form action="/contrato" method="post">
		<label>Nome: <input type="text" name="nome" required></label><br>
		<label>E-mail: <input type="email" name="email" required></label><br>
		<label>Contato: <input type="text" name="contato" required></label>
		<label>CPF: <input type="text" name="cpf" maxlength="14" oninput="mascaraCPF()" required></label><br>
		<label>RG: <input type="text" name="rg" maxlength="12" oninput="mascaraRG()" required></label>
		<label>CEP: <input type="text" name="endereco" maxlength="9" oninput="mascaraCEP()" required></label><br>
		<label>Rua: <input type="text" name="endereco" required></label><br>
		<label>Numero: <input type="text" name="endereco" required></label><br>
		<label>Bairro: <input type="text" name="endereco" required></label><br>
		<label>Cidade: <input type="text" name="endereco" required></label><br>
		<label>Estado: <input type="text" name="endereco" required></label><br>
		<label>País: <input type="text" name="endereco" required></label><br>
		<label>Item: <input type="text" name="item" required></label><br>
		<label>Valor: <input type="text" name="valor_contrato" required></label><br>
		<button type="submit">Gerar Contrato</button>
	</form>
</body>

<script>
	function mascaraCEP(input) {
		const valor = input.value.replace(/\D/g, '');
		input.value = valor.replace(/^(\d{5})(\d)/, '$1-$2');
	}
	function mascaraRG(input) {
		const valor = input.value.replace(/\D/g, '');
		input.value = valor.replace(/(\d{2})(\d)/, '$1.$2')  // Adiciona o primeiro ponto
			.replace(/(\d{3})(\d)/, '$1.$2')  // Adiciona o segundo ponto
			.replace(/(\d{3})(\d)/, '$1-$2'); // Adiciona o hífen
	}
	function mascaraCPF(input) {
		const valor = input.value.replace(/\D/g, '');  // Remove caracteres não numéricos
		input.value = valor.replace(/(\d{3})(\d)/, '$1.$2')  // Adiciona o primeiro ponto
			.replace(/(\d{3})(\d)/, '$1.$2')  // Adiciona o segundo ponto
			.replace(/(\d{3})(\d)/, '$1-$2'); // Adiciona o hífen
	}
</script>

</html>
